.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items {
  margin: 0 15px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.box-btn-wrapper {
  margin: 10px;
  padding: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.res-card {
  width: 278px;
  /* height: 320px; */
  border: 1px solid black;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}

.food-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.search-filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  cursor: pointer;
  margin: 20px;
}
.search-btn {
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.shimmer-card {
  width: 278px;
  height: 320px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
